.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid hsl(var(--primary));
  background: hsla(var(--primary), 0.1);
  box-shadow: inset 0 0 20px hsla(var(--primary), 0.3), 0 0 20px hsla(var(--primary), 0.2);
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(100px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(100px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(100px); }

@keyframes rotate {
  from { transform: rotateX(0deg) rotateY(0deg); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}

@media (max-width: 768px) {
  .scene {
    width: 150px;
    height: 150px;
  }
  .cube__face {
    width: 150px;
    height: 150px;
  }
  .cube__face--front  { transform: rotateY(  0deg) translateZ(75px); }
  .cube__face--back   { transform: rotateY(180deg) translateZ(75px); }
  .cube__face--right  { transform: rotateY( 90deg) translateZ(75px); }
  .cube__face--left   { transform: rotateY(-90deg) translateZ(75px); }
  .cube__face--top    { transform: rotateX( 90deg) translateZ(75px); }
  .cube__face--bottom { transform: rotateX(-90deg) translateZ(75px); }
}
