.scene {
  width: 300px;
  height: 300px;
  perspective: 900px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-150px);
  animation: rotate-cube 20s infinite linear;
}

.cube__face {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid hsl(var(--primary) / 0.5);
  background: hsl(var(--card) / 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube__face--front  { transform: rotateY(  0deg) translateZ(150px); }
.cube__face--back   { transform: rotateY(180deg) translateZ(150px); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(150px); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(150px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(150px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(150px); }


@keyframes rotate-cube {
  from { transform: rotateY(0deg) rotateX(0deg); }
  to   { transform: rotateY(360deg) rotateX(360deg); }
}
