:root {
  --icon-size: 80px;
  --animation-speed: 25s;
}

.icon-scene {
  width: 400px;
  height: 400px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  width: 250px;
  height: 250px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate-container var(--animation-speed) linear infinite;
}

.icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--icon-size);
  height: var(--icon-size);
  margin: calc(var(--icon-size) / -2);
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(var(--background) / 0.1);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  border: 1px solid hsl(var(--primary) / 0.2);
  animation: float-icon 6s ease-in-out infinite;
  animation-delay: calc(var(--i) * -0.5s);
}

.icon-wrapper:nth-child(1) { transform: rotateY(0deg) translateZ(200px); }
.icon-wrapper:nth-child(2) { transform: rotateY(40deg) translateZ(200px); }
.icon-wrapper:nth-child(3) { transform: rotateY(80deg) translateZ(200px); }
.icon-wrapper:nth-child(4) { transform: rotateY(120deg) translateZ(200px); }
.icon-wrapper:nth-child(5) { transform: rotateY(160deg) translateZ(200px); }
.icon-wrapper:nth-child(6) { transform: rotateY(200deg) translateZ(200px); }
.icon-wrapper:nth-child(7) { transform: rotateY(240deg) translateZ(200px); }
.icon-wrapper:nth-child(8) { transform: rotateY(280deg) translateZ(200px); }
.icon-wrapper:nth-child(9) { transform: rotateY(320deg) translateZ(200px); }


@keyframes rotate-container {
  from {
    transform: rotateY(0deg) rotateX(10deg);
  }
  to {
    transform: rotateY(360deg) rotateX(10deg);
  }
}

@keyframes float-icon {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
